*.o
*.pico
*.dSYM
*.exe
*-uninstalled.pc
/version.h

autom4te.cache
config.cache
config.h
config.log
config.mk
config.status
configure

hfile_*.bundle
hfile_*.so

lib*.a
lib*.dylib
lib*.so
lib*.so.*

/bgzip
/htsfile
/tabix
/test/fieldarith
/test/hfile
/test/sam
/test/test-regidx
/test/test-vcf-api
/test/test-vcf-sweep
/test/test_view
/test/*.tmp
/test/*.tmp.*

/TAGS
