# Ensure BAM and CRAM files are left as binary.  To display changes in them
# by converting to SAM, add to your configuration (perhaps with --global):
#
#	git config diff.bam.textconv  "samtools view -h"
#	git config diff.cram.textconv "samtools view -h"
*.bam     -text diff=bam
*.cram    -text diff=cram

# Omit these files from release tarballs.
/.appveyor.yml  export-ignore
.git*           export-ignore
/.cirrus.yml    export-ignore
README.md       export-ignore

# Remove the text attribute from reference files, so that git doesn't convert
# line separators on Windows machines. It causes the index files to become out
# of sync with the fasta files.
*.fa* -text

# Remove the text attribute from index_dos.sam, so that the line separators
# for the test file don't get converted into Unix format.
test/index_dos.sam -text

# Remove the text attribute from various faidx test files
test/faidx/faidx*.fa* -text
test/faidx/fastqs*.fq* -text
