*.o
*.pico
*-uninstalled.pc
/version.h

lib*.a
lib*.dylib
lib*.so
lib*.so.*

/bgzip
/tabix
/test/fieldarith
/test/hfile
/test/sam
/test/test-vcf-api
/test/test-vcf-sweep
/test/test_view
/test/test-regidx
/test/*.tmp
/test/*.tmp.*

/TAGS
