*.o
*.pico
*.obj
*.dSYM
*.exe
*.dll
*.dll.a
*.pc.tmp
*-uninstalled.pc
config_vars.h
/version.h

autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.mk
config.status
config.sub
configure
install-sh

hfile_*.bundle
hfile_*.cygdll
hfile_*.dll
hfile_*.so

hts-object-files
htslib_static.mk
htscodecs.mk

cyg*.dll
lib*.a
lib*.dll
lib*.dylib
lib*.so
lib*.so.*

header-exports.txt
shlib-exports-*.txt

/annot-tsv
/bgzip
/htsfile
/tabix
/test/*/FAIL*
/test/bgzf_boundaries/*.tmp.*
/test/faidx/*.tmp*
/test/fieldarith
/test/hfile
/test/hts_endian
/test/longrefs/*.tmp.*
/test/pileup
/test/pileup_mod
/test/plugins-dlhts
/test/sam
/test/tabix/*.tmp.*
/test/test-bcf-sr
/test/test-bcf-translate
/test/test-bcf_set_variant_type
/test/test_bgzf
/test/test_expr
/test/test_faidx
/test/test_index
/test/test_introspection
/test/test_kfunc
/test/test_khash
/test/test_kstring
/test/test_mod
/test/test_nibbles
/test/test-parse-reg
/test/test_realn
/test/test-regidx
/test/test_str2int
/test/test_time_funcs
/test/test-vcf-api
/test/test-vcf-sweep
/test/test_view
/test/thrash_threads[1-7]
/test/*.tmp
/test/*.tmp.*

/TAGS
